# Model type
# model_name: memdenoiseg
# model_name: memdenoiseg_ttt_subset
# model_name: memdenoiseg_ttt
# model_name: memdenoiseg
model_name: memdenoiseg_n2v

# Dataset config
# train_batch_size: 8
train_batch_size: 4
eval_batch_size: 1
test_batch_size: 2
# dataset: memseg_f2fd
dataset: memseg_n2v
# dataset: memseg

# Simple UNet
depth: 4
initial_features: 16 # (8)
encoder_dropout: 0.0
decoder_dropout: 0.1
BN: instance_norm
elu: False

# nnUNet
dynunet:
  enable: True
  kernel_size: [3, 3, 3, 3, 3, 3]
  strides: [1, 2, 2, 2, 2, 2]
  upsample_kernel_size: [1, 2, 2, 2, 2, 2]
  filters: [32, 64, 128, 256, 512, 1024]
  res_block: True
  norm_name: BATCH


# F2FD masking
# bernoulli_mask_ratio: 0.5
# phase_inversion_ratio: 0.05
# phase_inversion_ratio: 0.1
# min_mask_radius: 0.05
# max_mask_radius: 0.1
# min_mask_radius: 0.2
# max_mask_radius: 0.2

mask_ratio: 0.1
window_size: 5

# Optimizer config
# learning_rate: 1e-6
# learning_rate: 1e-4
learning_rate: 0.003
# learning_rate: 1e-2
max_epochs: 1000
gamma_decay: 1.0
grad_clip_norm: null

# Data related config
root_dir:  /media/ssd3/diyor/membrain-seg-data/MemBrain_seg_training_data
data_prefix: [""]
normalize_data: True # True for train, False for test/ttt
patch_size: 160
disable_train_transforms: False

train_tomo_names:
 - spinach_tomo02_patch000_raw_split0_0000.nii.gz
 - spinach_tomo02_patch000_split0_0000.nii.gz
 - spinach_tomo02_patch001_raw_split0_0000.nii.gz
 - spinach_tomo02_patch001_split0_0000.nii.gz
 - spinach_tomo02_patch002_raw_split0_0000.nii.gz
 - spinach_tomo02_patch002_split0_0000.nii.gz
 - spinach_tomo02_patch003_raw_split0_0000.nii.gz
 - spinach_tomo02_patch003_split0_0000.nii.gz
 - spinach_tomo02_patch004_raw_split0_0000.nii.gz
 - spinach_tomo02_patch004_split0_0000.nii.gz
 - spinach_tomo02_patch005_raw_split0_0000.nii.gz
 - spinach_tomo02_patch005_split0_0000.nii.gz
 - spinach_tomo02_patch006_raw_split0_0000.nii.gz
 - spinach_tomo02_patch006_split0_0000.nii.gz
 - spinach_tomo02_patch020_raw_split0_0000.nii.gz
 - spinach_tomo02_patch020_split0_0000.nii.gz
 - spinach_tomo02_patch021_raw_split0_0000.nii.gz
 - spinach_tomo02_patch021_split0_0000.nii.gz
 - spinach_tomo02_patch030_raw_split0_0000.nii.gz
 - spinach_tomo02_patch030_split0_0000.nii.gz
 - spinach_tomo04_patch000_split0_0000.nii.gz
 - spinach_tomo04_patch002_split0_0000.nii.gz
 - spinach_tomo04_patch004_split0_0000.nii.gz
 - spinach_tomo04_patch006_split0_0000.nii.gz
 - spinach_tomo04_patch008_split0_0000.nii.gz
 - spinach_tomo04_patch009_split0_0000.nii.gz
 - spinach_tomo04_patch020_split0_0000.nii.gz
 - spinach_tomo04_patch021_split0_0000.nii.gz
 - spinach_tomo04_patch030_split0_0000.nii.gz
 - spinach_tomo10_patch001_split0_0000.nii.gz
 - spinach_tomo10_patch002_split0_0000.nii.gz
 - spinach_tomo10_patch003_split0_0000.nii.gz
 - spinach_tomo10_patch009_split0_0000.nii.gz
 - spinach_tomo10_patch010_split0_0000.nii.gz
 - spinach_tomo10_patch011_split0_0000.nii.gz
 - spinach_tomo10_patch020_split0_0000.nii.gz
 - spinach_tomo10_patch030_split0_0000.nii.gz
 - spinach_tomo17_patch000_split0_0000.nii.gz
 - spinach_tomo17_patch001_split0_0000.nii.gz
 - spinach_tomo17_patch002_split0_0000.nii.gz
 - spinach_tomo17_patch006_split0_0000.nii.gz
 - spinach_tomo17_patch008_split0_0000.nii.gz
 - spinach_tomo17_patch009_split0_0000.nii.gz
 - spinach_tomo03_patch000_raw_split0_0000.nii.gz
 - spinach_tomo03_patch000_split0_0000.nii.gz
 - spinach_tomo03_patch002_raw_split0_0000.nii.gz
 - spinach_tomo03_patch002_split0_0000.nii.gz
 - spinach_tomo03_patch004_raw_split0_0000.nii.gz
 - spinach_tomo03_patch004_split0_0000.nii.gz
 - spinach_tomo03_patch006_raw_split0_0000.nii.gz
 - spinach_tomo03_patch006_split0_0000.nii.gz
 - spinach_tomo03_patch008_raw_split0_0000.nii.gz
 - spinach_tomo03_patch008_split0_0000.nii.gz
 - spinach_tomo03_patch010_raw_split0_0000.nii.gz
 - spinach_tomo03_patch010_split0_0000.nii.gz
 - spinach_tomo03_patch020_raw_split0_0000.nii.gz
 - spinach_tomo03_patch020_split0_0000.nii.gz
 - spinach_tomo03_patch021_raw_split0_0000.nii.gz
 - spinach_tomo03_patch021_split0_0000.nii.gz
 - spinach_tomo03_patch022_raw_split0_0000.nii.gz
 - spinach_tomo03_patch022_split0_0000.nii.gz
 - spinach_tomo03_patch030_raw_split0_0000.nii.gz
 - spinach_tomo03_patch030_split0_0000.nii.gz
 - spinach_tomo03_patch031_raw_split0_0000.nii.gz
 - spinach_tomo03_patch031_split0_0000.nii.gz
 - spinach_tomo03_patch032_raw_split0_0000.nii.gz
 - spinach_tomo03_patch032_split0_0000.nii.gz
 - spinach_tomo32_patch000_split0_0000.nii.gz
 - spinach_tomo32_patch002_split0_0000.nii.gz
 - spinach_tomo32_patch004_split0_0000.nii.gz
 - spinach_tomo32_patch006_split0_0000.nii.gz
 - spinach_tomo32_patch008_split0_0000.nii.gz
 - spinach_tomo32_patch010_split0_0000.nii.gz
 - spinach_tomo32_patch012_split0_0000.nii.gz
 - spinach_tomo32_patch014_split0_0000.nii.gz
 - spinach_tomo32_patch020_split0_0000.nii.gz
 - spinach_tomo32_patch030_split0_0000.nii.gz
 - spinach_tomo32_patch031_split0_0000.nii.gz

val_tomo_names:
 - spinach_tomo38_patch000_split0_0000.nii.gz
 - spinach_tomo38_patch002_split0_0000.nii.gz
 - spinach_tomo38_patch004_split0_0000.nii.gz
 - spinach_tomo38_patch006_split0_0000.nii.gz
 - spinach_tomo38_patch008_split0_0000.nii.gz
 - spinach_tomo38_patch010_split0_0000.nii.gz
 - spinach_tomo38_patch020_split0_0000.nii.gz
 - spinach_tomo38_patch021_split0_0000.nii.gz
 - spinach_tomo38_patch030_split0_0000.nii.gz

# Testing
# monai_inference: False
# inference_key: ["image"]
# test_data_root_dir: /media/ssd3/diyor/patch-160-ov/erlap-80
# test_tomo_names:
  # - rein/005/pixel-10
  # - vpp/002/pixel-10
  # - vpp/005/pixel-10
  # - def/041/pixel-10

# test_entire_tomo: /mnt/hdd_pool_zion/userdata/diyor/data/in_situ_reinhardtii/tomograms_pixel_10/01122021_BrnoKrios_arctis_lam1_pos5.mrc
# test_entire_gt: /mnt/hdd_pool_zion/userdata/diyor/data/in_situ_reinhardtii/labels_pixel_10/01122021_BrnoKrios_arctis_lam1_pos5_memb1.mrc


# test_entire_tomo: /mnt/hdd_pool_zion/userdata/diyor/data/deepict/VPP/tomograms_normalized_pixel_10/TS_0002_trimmed.rec
# test_entire_gt: /mnt/hdd_pool_zion/userdata/diyor/data/deepict/VPP/labels_pixel_10/TS_0002_membranes_trimmed.mrc

# test_entire_tomo: /mnt/hdd_pool_zion/userdata/diyor/data/deepict/DEF/tomograms_normalized_pixel_10/TS_041_trimmed.rec
# test_entire_gt: /mnt/hdd_pool_zion/userdata/diyor/data/deepict/DEF/labels_pixel_10/TS_041_membranes_trimmed.mrc

# TTT
masked_inference: False
inference_iterations: 1
