# exp setting
exp_name: ???
wandb_project_name: ???
ckpt_path: ???
seed: 42 # random seed
debug: False # debug mode, will use cpu only
devices: [ 0 ] # gpu ids

# data related
profiler: null
strategy: ddp # if ddp, then disable shuffle
shuffle: True
train_load_num_workers: 16 # number of workers for loading data (8)
val_load_num_workers: 16 #(8)
pin_memory: False
persistent_workers: False

accumulate_grad_batches: 1
gradient_clip_val: null

# (wandb) logging
check_val_every_n_epochs: 1
log_every_n_steps: 1
num_sanity_val_steps: 0
enable_progress_bar: True

defaults:
  - _self_
  - method: memdenoiseg_tent
