# exp setting
# exp_name: memseg-dyn-f2fd-all-vpp-005
# exp_name: memseg-f2fd-subset19-subset17-unmasked-adam-no-trans-1e-6-b4
exp_name: memseg-f2fd-spinach-deepict-unmasked-sgd-1e-2-no-trans-b16-long
# exp_name: memseg-f2fd-spinach-nonspinach-unmasked-adam-no-trans-1e-6-b4
wandb_project_name: cryo-ttt-ttt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-spinach-0.25-3e112/epoch=978-val/dice_loss=0.20.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-spinach-0.5-df71c/epoch=976-val/dice_loss=0.20.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-spinach-0.75-9714f/epoch=959-val/dice_loss=0.20.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-spinach-0.125-bd1f8/epoch=826-val/dice_loss=0.18.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-cts-888f2/epoch=970-val/dice_loss=0.57.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-all-39944/epoch=989-val/dice_loss=0.22.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-rory-c0587/epoch=957-val/dice_loss=0.37.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-polnet-f0f4b/epoch=963-val/dice_loss=0.24.ckpt
ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-spinach-f2402/epoch=980-val/dice_loss=0.24.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-f2fd-spinach-nonspinach-unmasked-adam-no-trans-1e-6-b4-dbff5/epoch=604-train/dice_loss=0.67.ckpt
# ckpt_path: /workspaces/cryo/cryo-ttt/src/ttt_ckpt/memseg-dynunet-f2fd-chlamy-94d4d/epoch=820-val/dice_loss=0.40.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-f2fd-spinach-subset3-49185/epoch=994-val/dice_loss=0.32.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-f2fd-synthetic-subset16-87633/epoch=927-val/dice_loss=0.45.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-f2fd-rory-subset19-817e4/epoch=990-val/dice_loss=0.17.ckpt
# ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-f2fd-atty-subset18-81c69/epoch=976-val/dice_loss=0.19.ckpt
# ckpt_path: null
seed: 42 # random seed
debug: False # debug mode, will use cpu only
devices: [ 0 ] # gpu ids

# data related
profiler: null
strategy: ddp # if ddp, then disable shuffle
shuffle: True
train_load_num_workers: 16 # number of workers for loading data (8)
val_load_num_workers: 16 #(8)
pin_memory: False
persistent_workers: False

accumulate_grad_batches: 4
gradient_clip_val: null

# (wandb) logging
check_val_every_n_epochs: 1
log_every_n_steps: 1
num_sanity_val_steps: 0
enable_progress_bar: True

defaults:
  - _self_
  - method: memdenoiseg_ttt
  # - method: denoiseg_f2fd
  # - method: denoiseg_v2
  # - method: deepict_unet3d_ittt