# exp setting
exp_name: memseg-dyn-f2fd-spinach-vpp-003-masked-10iter
wandb_project_name: cryo-ttt-ttt
ckpt_path: /mnt/hdd_pool_zion/userdata/diyor/ttt_ckpt/memseg-dynunet-f2fd-spinach-f2402/epoch=980-val/dice_loss=0.24.ckpt
# ckpt_path: null
seed: 42 # random seed
debug: False # debug mode, will use cpu only
devices: [ 3 ] # gpu ids

# data related
profiler: null
strategy: ddp # if ddp, then disable shuffle
shuffle: True
train_load_num_workers: 32 # number of workers for loading data (8)
val_load_num_workers: 32 #(8)
pin_memory: False
persistent_workers: False

accumulate_grad_batches: 4
gradient_clip_val: null

# (wandb) logging
check_val_every_n_epochs: 1
log_every_n_steps: 1
num_sanity_val_steps: 0
enable_progress_bar: True

defaults:
  - _self_
  - method: memseg
  # - method: denoiseg_f2fd
  # - method: denoiseg_v2
  # - method: deepict_unet3d_ittt